# Cabal
dist
dist-newstyle

# Stack
.stack-work
*~

# Agda (general)
*.agdai
*.agda#
.#*.agda

# Agda (MAlonzo back-end)
MAlonzo

# Agda (LLVM back-end)
.agda2llvm
out.so
out.bin

# VS Code
/.vscode

# Misc
a.out
